<h1>Event Details</h1>
<%=@event.name%>
<p><%=@event.description%></p>
<%if current_user && !is_registered?(@registrations)%>
  <%= link_to 'register', register_event_path, method: :patch %>
<%end%>

<h2>People who've already registered...</h2>
<table>
  <tbody>
  <%@registrations.each do |reg|%>
      <tr>
        <td>
          <%=reg.name%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


